<!DOCTYPE html>
<html>
<head>
    <meta charset="'UTF-8">
    <title>To Do 📝</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="app-container">

        <h1>To Do List</h1>

        <table>
            
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>

            {% for task in tasks %}
            <tr>
                <td> {{ task.content }} </td>
                <td> {{ task.date_created.date() }} </td>
                <td>
                    <a href="/delete/{{ task.id }}"> ✖️ </a>
                </td>
            </tr>
            {% endfor %}
        
        </table>

        <br>

        <form action="/" method="POST">
            <input type="text" name="content" required>
            <input type="submit" value="Add Task" id="submit">
        </form>

    </div>

</body>

</html>